{% extends 'blocks/base.html.twig' %}

{% block body_block %}
    <div class="section__content">
        <h2 class="section__title">{{ attributes.data.title }}</h2>
        <div class="section__content">{{ attributes.data.text }}</div>

        {% if attributes.data.list is defined %}
            <div class="section__list">
                {% for item in attributes.data.list %}
                    <div class="item">
                        <h3 class="item__title">{{ item.title }}</h3>
                        <div class="item__text">{{ item.text }}</div>
                        <div class="item__image">{{ looly_media(item.image) }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}
